.to-home{
    font-family: "ten-mincho",serif;
    position:fixed;
    color:rgb(39, 39, 39);
    font-weight:600;
    background-color: #ffffffde;
    font-size: 15px;
    bottom:25px;
    right:25px;
    width:70px;
    height:70px;
    text-align:center;
    line-height: 70px;
    vertical-align: middle;
    border-radius: 50%;
    text-decoration:none;
    display:inline-block;
}

.to-home:visited{
    color:rgb(39, 39, 39);
}