body{
    background-color: #FFD5E5;
    margin: 0;
    height: 100vh;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.wrap{
    border:solid 3px #FF4089;
    width:450px;
    height:400px;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    font-family: rukou, sans-serif;
    font-weight:500;
    color: #FE1E44;
    font-size:65px;
    text-align: center;
    margin-bottom:15px;
}

.button{
    border:solid 5px #FF1F74;
    padding:10px 15px;
    border-radius:80px;
    background-color: rgba(255, 255, 255, 70);
    width:200px;
    text-align: center;
    margin:0 auto;
}

.button a{
    font-family:rukou, sans-serif;
    font-weight:400;
    font-size:25px;
    color:#FF1F74;
    text-decoration:none;
}

@media(max-width:700px){
    .wrap{
        width:300px;
        height: 300px;
    }

    .title{
        font-size:50px;
    }

    .button{
        width: 150px;

    }

    .button a{
        font-size:22px;
    }
}

