.wrap{
    width:400px;
    background-color:#ffffff73;
    padding-top: 1px;
    margin-left:auto;
    margin-right: auto;
    margin-top:10px;
}

.child{
    text-align:center;
}

.profile{
    font-size:20px;
    margin:20px;
    color:rgb(39, 39, 39);
    letter-spacing: 2px;
    font-weight:700;
    text-align: center;
    text-decoration:underline;
    text-decoration-color: yellow;
    text-decoration-style: dotted;
    text-align:center;
}

.child img{
    border-radius:20px;
    height:66px;
    width:54px;
    margin:0 auto;
}

.child #name{
    font-size:14px;
    font-weight: 600;
    color: rgb(39, 39, 39);
}

.child div{
    font-size:12px;
    margin-top:5px;
}

.like{
    font-size:12px;
    margin-top:5px;
    display: inline-block;
    width: 100%;
}

.like ul{
    padding: 0 0 0 60px;
    margin-bottom:20px;
}

.like li{
    height:20px;
    margin-top:5px;
}

.like img{
    margin:0 auto 15px;
    display: block;
}